.img-w {
    width: 100%;
    /* height: auto; */
    object-fit: cover;
}

.zoom {
    padding: 50px;
    transition: transform 0.2s; 
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.5); 
  }